.card {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  margin: 20px;
  align-items: center;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.title {
  font-size: 180%;
}
