h2 {
  padding: 10px;
  margin: 0;
  color: #ff5154;
  font-size: 250%;
}

article {
  background-color: #d6f6dd;
  white-space: pre-wrap;
}

.articleContainer {
  height: 100vh;
  background-color: #d6f6dd;
}
